<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <!-- fontawesome library-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <title>Form Validation</title>
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>{% block title %}{% endblock %}</h1>
          <p>{% block description %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <main>
    
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  <!-- /.container -->

</main>

  <footer class="footer">
    
  <p>{% block footer %}{% endblock %}</p>
  </footer>

</body>

</html>