{% extends 'layout.html' %}
{% block title %}Form Validation{% endblock %}
{% block description %}The data collected by this form must comply with your validation rules. {% endblock %}

{% block content %}



<form action="form_submission" method="post">
  <div class="row">
    <div class="col-sm-12">
      <label for='username'>Enter Username: </label>
      <input type="text" id = 'username' name="username" placeholder="enter your username">
    </div>
    <div class="col-sm-12">
      <label for='password'>Enter Password: </label>
      <input type="password" id='password' name="password" placeholder="enter your password">
    </div>

    <div class="col-sm-12">
      <label for="number">Enter a number between 1 and 10:</label>
      <input type="number" id="number" name="number">
    </div>
    <div class="col-sm-12">
      <label for="email">Enter your email address:</label>
      <input type="email" id="email" name="email">
    </div>

  </div>

<input type="submit" class="btn" value="SUBMIT">
</form>


{% endblock %}